In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# import training set

In [3]:
dataset_train = pd.read_csv('DATA/Google_Stock_Price_Train.csv')

In [4]:
dataset_train.head()

       Date    Open    High     Low   Close      Volume
0  1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1  1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2  1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3  1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4  1/9/2012  322.04  322.29  309.46  620.76  11,688,800

In [5]:
training_set = dataset_train['Open'].values.reshape(-1,1)

In [6]:
# scaled feature

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
scaler = MinMaxScaler()

In [9]:
training_set_scaled = scaler.fit_transform(training_set)

In [10]:
# creating a data structure with 60 timestamp and 1 output. 
# 60 time stamp means RNN 在predict下一个value的时候会往回看60个time stamp, 这个60是测试出来比较合适的

In [12]:
X_train = []
y_train = []

for i in range(60, 1258):
    X_train.append(training_set_scaled[i-60:i,0]) # we get 60 time stamp here
    y_train.append(training_set_scaled[i,0])
X_train, y_train = np.array(X_train),np.array(y_train)

### reshaping